.contact {
    height: 100vh;
    color: var(--primary-color);
    padding: var(--sections-padding);
}

.contact h1 {
    text-align: center;
}


@media(max-width:599px){
    .contact {
        padding: 2rem 0rem;
    }
   .contact h1 {
       margin-top: 100px;
       font-size: 20px;
   }
}