.projects {
    min-height: 100vh;
    color: var(--primary-color);
    padding: var(--sections-padding);
    
    
}


.projects h1 {
    text-align: var(--sections-align);

    
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    
    
}

.projects__constant {
    font-family: var(--code-font);
    color: teal;
}



@media(max-width:599px){
   .projects {
       padding: 2rem 3rem;
       margin-right: 50px;
     
   }
   .projects h1 {
       width: 60%;
       margin-bottom: 30px;
       margin-top: 100px;
       font-size: 25px;
   }
   .projects__list {
       flex-direction: column;
       margin-left: -50px;
   }
     .mobile__jednako {
        padding-left: 20px;
    }
}