

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --title-fontsize: 3.2rem;
  --subtitle-fontsize: 1.5rem;
  --text-fontsize: 1rem;
  --main-background: rgb(7, 7, 7);
  --primary-color: white;
  --secondary-color: #462e9b;
  --title-font:'Orbitron', sans-serif;
  --main-font:'Roboto', sans-serif;
  --margin-subtitle: 0 auto;
  --sections-align: center;
  --sections-padding: 2rem 4.5rem;
  --subtitle-border: 2px solid var(--secondary-color);
  --code-font:'Beth Ellen', cursive;
  

}

body {
  margin: 0;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background);
}

ul {
 list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  text-align: var(--sections-align);
    border-bottom: 3px solid var(--secondary-color);
    border-radius: 6px;
    margin: 0px auto;
    width: 30%;
    letter-spacing: 1.4px;
}

h2,h3,h4,h5,p {
  margin: 0;
 
}